

.main-content {
  padding-top: 20px;
}

.articulo-imagen {
  max-width: 200px;
  height: auto;
}

.btn-group {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 0;
  }
}